@import '../global/styles/layout.scss';


@import "../pages/Login/styles/login";
@import "../pages/Dashboard/styles/dashboard";


html * {
  font-family: 'Roboto', serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #020b0f, #07141a, #0a1b23, #09222d, #082938);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}


*:focus {
  outline: none;
}

a:link {
  color: $leag-color;
}

a:visited {
  color: #483a13;
}