/* Create three equal columns that floats next to each other */
.grid-container {
    display: grid;
    grid-template-columns: 15% auto auto;
    grid-template-rows: 7% auto auto auto auto auto;
    gap: 5px 7px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}